.container {
    margin: auto;
    --gap: 1.2rem;
    --num-cols: 5;
    --row-height: 200px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap)
}

.container1 {
    margin: auto;
    --gap: 1rem;
    --num-cols: 3;
    --row-height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap)
}

.card-title {
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.card-price {
    display: flex;
    justify-content: center;
    margin: 3px;
}

.btn-cat {
    list-style: none;
}

.btn-cat li {
    margin-left: -20px;
}

img {
    width: 100%;
}

.mb-1 {
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.span-1 {
    grid-column: span 1;
}

.span-1-1 {
    grid-column: span 1;
}

.span-4 {
    grid-column: span 4;
}

@media screen and (max-width: 767px) {
    .container1 {
        --num-cols: 3;
    }
}

@media screen and (max-width: 494px) {
    .container1 {
        --num-cols: 2;
    }

    .container {
        display: block;
    }

    .btn-cat {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 280px) {
    .container1 {
        --num-cols: 2;
    }
}